.modal {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    z-index: 9999;
    height: 100vh;
    padding: 20px;
}

.modal-content {
    background: #0d1114;
    padding: 24px;
    border-radius: 10px;
    height: 600px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out forwards;
    color: white;
    font-family: "Bytesized", sans-serif;
    font-size: 20px;
    overflow-y: auto;
}

.close-btn {
    float: right;
    font-size: 24px;
    cursor: pointer;
    color: #bbb;
    transition: color 0.2s;
    background-color: #0d1114;
    border: none;
}

.close-btn:hover {
    color: white;
}

.modal h2 {
    text-align: center;
    margin-bottom: 20px;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.modal-content label {
    width: 100%;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #1a1d21;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    outline: none;
    font-size: 16px;
}

.modal-content input:focus {
    box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
}

.modal-content input[type="file"] {
    border: none;
    padding: 5px;
    cursor: pointer;
}

.image-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
    margin-top: 10px;
}

.login-submit {
    width: 100%;
    padding: 12px;
    background-color: #22272b;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    font-size: 16px;
}

.login-submit:hover {
    background-color: #444;
    transform: scale(1.05);
}

.login-submit:disabled {
    background-color: #666;
    cursor: not-allowed;
}

.err-message {
    color: red;
    font-size: 14px;
    text-align: center;
}

@media (max-width: 600px) {
    .modal-content {
        width: 90%;
        padding: 16px;
        font-size: 18px;
    }

    .modal-content input {
        font-size: 14px;
    }

    .login-submit {
        font-size: 14px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

